// ===== SCROLL CUSTOMIZE =====
*::-webkit-scrollbar {
  width: 14px;
  height: 10px;
  background-color: rgba(112, 5, 5, 0);
}
* ::-webkit-scrollbar-thumb {
  border: 3px solid $white;
  border-radius: 5px;
  background-color: darken($c--primary, 15%);
}
